@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(167, 207, 205);
  --primary-color-darker: rgb(167, 207, 205);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

li {
  
  font-family: 'Open sans', sans-serif;
  font-size: 0.7em;
}

button.btn-book {
  border: none;
  color:rgb(255, 255, 255);
  background: rgb(144, 224, 148);
  font-size: 15px;
  font-weight: 500;
  height: 30px;
  cursor: pointer;
  margin-top: 5px;
}

button.delete {
  border: none;
  color:rgb(255, 255, 255);
  background: rgb(209, 122, 122);
  font-size: 15px;
  font-weight: 500;
  height: 30px;
  cursor: pointer;
  margin-top: 5px;
}


.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

button {
  border: none;
  background: var(--primary-color);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}


